{% extends 'base.html' %}

{% block content %}

<div class="col-md-auto">
    {% if user.is_authenticated %}
    <br />
    <h1 class = "alert alert-success">Hello, {{ user.username }}</h1>

    {% if records %}
    <table class="table table-dark table-striped table-bordered table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">email</th>
              <th scope="col">Created</th>
              <th scope="col">View</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
        {% for record in records %}
        
                <tr>
                  <th scope="row">{{record.id}}</th>
                  <td>{{ record.first_name}} {{ record.last_name }}</td>
                  <td>{{ record.email }}</td>
                  <td>{{ record.created_at}}</td>
                  <td align="center"><a class="nav-link" href="{% url 'record' record.id %}">
                    <button type="button" class="btn btn-sm"><i class="fa fa-eye" style="font-size:15px;color:lightblue;"></i></button></a></td>
                  
                  
                  <td align="center"><a class="nav-link" href="{% url 'update_record' record.id %}">
                    <button type="button" class="btn btn-sm"><i class="fa fa-pencil" style="font-size:15px;color:lightgreen;"></i></button></a></td>

                  <td align="center"><a class="nav-link" href="{% url 'delete_record' record.id %}">
                    <button type="button" class="btn btn-sm"><i class="fa fa-trash" style="font-size:15px;color:#FF474C;"></i></button></a></td>
          
                   
                  
        {% endfor %}
    </tr>
</table>

<div class="row">
    {% for record in records %}
        {% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-33"></div>{% endif %}
        <div class="col">
            
            <div class="card border-primary text-white bg-secondary mb-3">
                <h2 class="text-center mb-3">
                    {{ record.first_name}} {{ record.last_name }}
                </h2>
                <div class="card-body">
                    <h5 class="card-title text-primary">
                        {{ record.email }}
                    </h5>
                    <p class="card-text">
                            <p class="navbar-brand">Created on: {{ record.created_at }}                            
                            <a href="{% url 'record' record.id %}">
                                <button type="button" class="btn btn-sm"><i class="fa fa-eye" style="font-size:15px;color:lightblue;"></i>
                                </button>
                            </a>    
                            <a href="{% url 'update_record' record.id %}">
                                <button type="button" class="btn btn-sm"><i class="fa fa-pencil" style="font-size:15px;color:lightgreen;"></i>
                                </button>
                            </a> 
                            <a href="{% url 'delete_record' record.id %}">
                                <button type="button" class="btn btn-sm"><i class="fa fa-trash" style="font-size:15px;color:#FF474C;"></i>
                                </button>
                            </a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



    {% else %}
    <p class = "alert alert-danger">There are no records... </p>
    {% endif %}

    {% else %}

    <h1>Login</h1>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="username" name="username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="password" name="password" required>
        </div>
          
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
    {% endif %}
</div>

{% endblock content %}